.crud {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

td{
    text-align: center;
}
th{
    align-items: center;
    text-align: center;
}
.form-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-field {
    display: flex;
    align-items: center;
}

.form-field label {
    flex: 0 0 10rem; 
    margin-right: 1rem;
    font-weight: 500;
    align-items: left;
    text-align: left;
}

.form-field input {
    flex: 1;
}
.p-datatable-loading-overlay {
    background-color: rgba(214, 213, 213, 0.4);
}

